{% extends "shopping/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowAllProd</title>
</head>
<body>
    {% block bodys %}

        {% for types, goods in type_and_goods %}
            <h2>{{ types.name }}</h2>
            <img src="{{ types.photo.url }}" alt="{{ types.name }}">
            {% for good in goods %}
                <h3><a href="{% url 'shopping:good_detail' types.id good.id %}">{{ good.name }}</a></h3>
                <p>{{ good.disc }}</p>
                <img src="{{ good.photo.url }}" alt="{{ good.name }}">
                <h4>{{ good.price }}元</h4>
            {% endfor %}
            <hr>
        {% endfor %}

    {% endblock bodys %}
</body>
</html>